body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}

.error{
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 5px;
}